services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: carnivlora_app
    restart: unless-stopped
    working_dir: /var/www
    env_file:
      - .env.production
    volumes:
      - ./:/app
      - /home/jermy-ALP/storage/app/public:/var/www/storage/app/public
    networks:
      - npm_default

  web:
    image: nginx:latest
    container_name: carnivlora_web
    restart: unless-stopped
    expose:
      - "80"
    volumes:
      - ./:/app
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    env_file:
      - .env.production
    depends_on:
      - app
    networks:
      - npm_default

networks:
  npm_default:
    external: true

volumes:
  npm_data:
  npm_letsencrypt:
